@media (max-width: 1650px) {
  /* .task-activity {
    display: flex;
    align-items: center;
    justify-content: space-around;
  } */

  .container3 {
    /* display: none; */
  }
  .monthly {
    /* grid-template-columns: 1fr 1fr; */
  }

  body {
    grid-template-columns: 225px 1fr 355px;
  }

  .task-month {
    gap: 87px;
  }

  .week-link {
    gap: 16px;
  }

  .task-head {
    gap: 178px;
  }

  .d-task {
    gap: 114px;
  }

  .help {
    /* margin-top: 164px; */
  }
}
@media (max-width: 1500px) {
  .svg1 {
    width: 24%;
    height: 24%;
  }
  .svg2 {
    width: 59%;
    height: 59%;
  }
  .svg3 {
    display: none;
  }

  .m-container {
    width: 110%;
  }
}

@media (max-width: 1435px) {
  .container3 {
    display: none;
  }

  .m-container {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  body {
    grid-template-columns: 225px 1fr 330px;
  }

  .svg1 {
    width: 26%;
    height: 26%;
  }
  .svg2 {
    width: 62%;
    height: 62%;
  }

  .m-container {
    width: 100%;
  }

  .page-link {
    font-size: 12px;
  }

  .task-month {
    gap: 74px;
  }

  .week-link {
    gap: 11px;
  }

  .task-head {
    gap: 152px;
  }

  .d-task {
    gap: 114px;
  }
}

@media (max-width: 1230px) {
  body {
    grid-template-columns: 221px 1fr 306px;
  }

  .main-nav {
    margin-left: 27px;
  }

  .task-month {
    gap: 63px;
  }

  .week-link {
    gap: 9px;
  }

  .task-head {
    gap: 129px;
  }

  .d-task {
    gap: 62px;
  }

  .text {
    font-size: 13px;
  }

  .btn {
    padding: 8px 70px;
  }
}

@media (max-width: 1130px) {
  body {
    grid-template-columns: 195px 1fr 293px;
  }

  .main-nav {
    margin-left: 22px;
  }

  .m-container {
    width: 100%;
  }

  .task-month {
    gap: 56px;
  }

  .week-link {
    gap: 7px;
  }

  .task-head {
    gap: 116px;
  }

  .mobile-img {
    height: 114px;
  }

  .d-task {
    gap: 50px;
  }

  .text {
    font-size: 13px;
  }

  .btn {
    padding: 8px 66px;
  }

  .help {
    width: 100%;
  }
}

@media (max-width: 1060px) {
  body {
    grid-template-columns: 190px 1fr 285px;
  }

  .container2 {
    /* display: none; */
  }

  .m-container {
    width: 126%;
  }
  .main-nav {
    margin-left: 12px;
  }

  .task-month {
    gap: 52px;
  }

  .week-link {
    gap: 5px;
  }

  .task-head {
    gap: 108px;
  }

  .mobile-img {
    height: 114px;
  }

  .d-task {
    gap: 45px;
  }

  .text {
    font-size: 12px;
  }

  .btn {
    padding: 8px 58px;
  }

  .help {
    /* height: 25%; */
  }
}

@media (max-width: 1000px) {
  header {
    display: none;
  }

  body {
    grid-template-columns: 1fr 315px;
  }

  .heading-primary {
    font-size: 22px;
  }

  .head-text {
    font-size: 15px;
  }

  .svg1 {
    width: 23%;
    height: 23%;
  }

  .svg2 {
    width: 57%;
    height: 57%;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .task-month {
    gap: 67px;
  }

  .week-link {
    gap: 10px;
  }

  .task-head {
    gap: 138px;
  }

  .d-task {
    gap: 74px;
  }

  .btn {
    padding: 8px 70px;
  }

  /* MOBILE NAVIGATION */
}

@media (max-width: 900px) {
  body {
    display: block;
  }

  .icon-mobile-nav {
    width: 26px;
    height: 26px;
  }

  .bell-icon {
    width: 21px;
    height: 21px;
  }
  .svg1 {
    width: 21%;
    height: 21%;
  }

  .svg2 {
    width: 53%;
    height: 53%;
  }

  .m-container {
    width: 100%;
  }

  .task-today {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
