* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 225px 1fr;
  overflow-x: hidden;
}

/* ********************* */
/* Header section */
/* ********************* */

.header {
  padding: 24px;
  grid-row: 1 / 4;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-decoration: none;
  margin-bottom: 35px;
}

.book-icon {
  height: 44px;
  width: 44px;
  padding: 2px;
}

.logo-text {
  font-family: sans-serif;
  font-size: 25px;
  color: #141522;
}

.main-nav {
  margin-left: 30px;
}

.hero {
  position: relative;
}

.btn-mobile-nav {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1.8px solid #f1f3f5;
  padding: 14px;
  cursor: pointer;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-nav-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 7px 9px;
  cursor: pointer;
  width: 122px;
}

.main-nav-link:hover,
.main-nav-current {
  background-color: #f1f3f5;
  border-radius: 10px;
}

.nav-icon {
  width: 22px;
  height: 22px;
  color: #b1afd2;
}

.nav-icon:hover {
  color: #141522;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: #b1afd2;
  font-family: sans-serif;
  font-size: 16px;
}

.link:hover {
  color: #141522;
  background-color: #f1f3f5;
  border-radius: 10px;
}

.nav-current {
  color: #141522;
}

.help {
  margin-top: 170px;
}

/* ********************** */
/* *** Search section *** */
/* ********************** */

.section-search {
  padding: 22px;
}

.task-search {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.task-text {
  width: 100%;
}

.cust-img img {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  cursor: pointer;
}

.hero-bell {
  padding-right: 20px;
}

.bell-icon {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1.4px solid #f1f3f5;
  padding: 14px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.search {
  display: flex;
  justify-content: space-evenly;
  width: 470px;
}

.search-input {
  width: 100%;
  height: 45px;
  font-size: 12px;
  border: 1.4px solid #f1f3f5;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
  padding-left: 20px;
}

.search-icon {
  width: 50px;
  height: 45px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.4px solid #f1f3f5;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  color: #141522;
  cursor: pointer;
}

.cate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-left: auto;
  margin-right: 20px;
  background-color: transparent;
  border: 1.4px solid #f1f3f5;
  border-radius: 8px;
  cursor: pointer;
  width: 125px;
  height: 45px;
}

.cate-icon {
  width: 19px;
  height: 19px;
  color: #b1afd2;
}

.cate-text {
  font-size: 12px;
}

.deadline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  background-color: transparent;
  border: 1.4px solid #f1f3f5;
  border-radius: 8px;
  cursor: pointer;
  width: 170px;
  height: 45px;
}

.deadline-icon {
  width: 19px;
  height: 19px;
  color: #b1afd2;
}

.deadline-text {
  font-size: 12px;
}

/* ********************* */
/* Hero section */
/* ********************* */

.section-hero {
  background-color: #f8f9fa;
  padding: 22px 22px 40px 22px;
}

.hero-limit {
  margin-bottom: 10px;
}

.hero-new {
  margin-top: 22px;
  margin-bottom: 10px;
}

.hero-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  font-size: 22px;
}

.line-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

/* ================== */

.m-container {
  display: flex;
  gap: 20px;
}

.container1 {
  /* margin-left: 20px; */
}

.container1,
.container2,
.container3,
.container4 {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  /* width: 100%; */
}

.app-img {
  width: 100%;
  /* height: 102px; */
  border-radius: 10px;
}

.task-cust-name-1 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 3px;
  color: #070707;
}

.task-cust-name-2 {
  font-size: 11px;
}

.Progress {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 16px;
  /* gap: 120px; */
  /* margin-bottom: 20px; */
}

.task-cust-name-3 {
  font-size: 14px;
  color: #070707;
}

.task-cust-name-4 {
  margin-left: auto;
  font-size: 14px;
  color: #4c6ef5;
}

.the-day {
  display: flex;
  align-items: center;
}

.clock {
  width: 17px;
  height: 17px;
}

.day {
  font-size: 14px;
  padding-left: 6px;
  color: #070707;
}

.delivered-imgs {
  display: flex;
  margin-left: auto;
}

.delivered-imgs img {
  height: 20px;
  width: 20px;
  border: solid 2px white;
  border-radius: 50%;
  margin-right: -7px;
}

.delivered-imgs img:last-child {
  margin: 0;
}
